i.icon {
    font-size: 2em;
}
.container.main{
    margin-top:7.0em;
}

.borderShadow {
    -webkit-transition: box-shadow 3s; /* Safari */
    transition: box-shadow 3s;
    -webkit-box-shadow: 60px -16px #1B1C1D;
    -moz-box-shadow: 60px -16px #1B1C1D;
    box-shadow: 60px -16px #1B1C1D;
}

.positionChange{
    margin-top:15px;
}

.ui.segment:last-child {
    margin-bottom: 10px; 
}

#editSel {
    margin-top:35px;
}

#fontChange{
    font-size:1em;
}

